<h3>New Author Page</h3>
<form action="/authors" method="POST">
<%- include('./partials/_form') %>
<div class="form-row btn-row">
<button type="submit" class="btn btn-primary">Create Author</button>
<a href="/authors" class="btn btn-danger">Cancel</a>
</div>
</form>